<html>
    <head>
            <style>
                    table, th, td {
                      padding: 5px;
                    }
                    table {
                      border-spacing: 15px;
                    }
                    </style>

        <h1>Hello Sai_Krishna</h1>
    </head>
    <body>
        <form action="insert">
        <table align="center">
            <tr>
                <td>Name</td>
                <td><input type="text" name = "name"></td>            
            </tr>
            <tr>
                <td>Age</td>
                <td><input type="number" name = "age"></td>            
            </tr>
            <tr>
                <td>DOB</td>
                <td><input type="date" name = "dob"></td>
            </tr>
            <tr>
                <td><input type="submit"></td>
            </tr>
        </table>
    </form>

    <form action='fetchData' method='GET' align= "center">
        <button type='submit'>View all data</input>
        </form>

    </body>
</html>
